.vs/*
.vsconfig

Saved/*
Intermediate/*
Binaries/*
ThirdParty/*

Plugins/ArcGISMapsSDK/*
Plugins/CustomOctreePlugin/Binaries/*
Plugins/CustomOctreePlugin/Intermediate/*
Plugins/TemaranShaderTutorial/Binaries/*
Plugins/TemaranShaderTutorial/Intermediate/*
Plugins/PakLoader/Binaries/*
Plugins/PakLoader/Intermediate/*
Plugins/CityGISUtil/*
Plugins/UE_CaptureSubsystem-master/*
ThirdParty/*
unrealPak/*
StreamDatas/grid11_collection/*
StreamDatas/grid12_collection/*
StreamDatas/grid18_collection/*
StreamDatas/grid19_collection/*
StreamDatas/grid21_collection/*
StreamDatas/grid24_collection/*
StreamDatas/grid25_collection/*
StreamDatas/grid26_collection/*
StreamDatas/grid30_collection/*
StreamDatas/grid31_collection/*
StreamDatas/grid32_collection/*
StreamDatas/grid34_collection/*
StreamDatas/grid38_collection/*
StreamDatas/grid41_collection/*
StreamDatas/grid45_collection/*
