.vs/*
.vsconfig

Saved/*
Intermediate/*
Binaries/*

Plugins/ArcGISMapsSDK/*
Plugins/CustomOctreePlugin/Binaries/*
Plugins/CustomOctreePlugin/Intermediate/*
Plugins/TemaranShaderTutorial/Binaries/*
Plugins/TemaranShaderTutorial/Intermediate/*