# Unreal Engine build folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio files
.vs/*
.vsconfig
*.sln
*.VC.db
*.VC.opendb

# Mac OS
.DS_Store

#package
Build/

#plugins
Plugins/ArcGISMapsSDK/*
Plugins/CustomOctreePlugin/Binaries/*
Plugins/CustomOctreePlugin/Intermediate/*
Plugins/TemaranShaderTutorial/Binaries/*
Plugins/TemaranShaderTutorial/Intermediate/*
Plugins/UE_CaptureSubsystem/Binaries/*
Plugins/UE_CaptureSubsystem/Intermediate/*
Plugins/RuntimeMeshLoader-main/Binaries/*
Plugins/RuntimeMeshLoader-main/Intermediate/*
StreamDatas/*
Content/testCase/*

# Other
*.log
*.tmp
*.user
*.suo
*.opensdf
*.sdf

# Git LFS
# Note: If you're using Git LFS, you may also want:
# *.uasset
# *.umap